.userlist
	flex: 1
	overflow: auto
	direction: rtl
	background: scrollshadows

	ul
		list-style: none
		margin: 0
		padding: 0
		direction: ltr

	li
		display: flex
		align-items: center
		margin: 0
		padding: 0
		height: 30px
		text-align: left
		color: colors.light
		cursor: pointer
		transition: color 100ms linear

		&:hover
			background: rgba(colors.lighter, .5)

	.eligible
		display: flex
		align-items: center
		justify-content: center
		size: 10px
		margin: 0 5px 0 10px

		&:after
			display: block
			size: 6px
			content: ''
			padding: 1px
			background-color: transparent
			background-clip: content-box
			border: 1px solid colors.light
			border-radius: 50%
			transition: all 100ms linear

	.name
		flex: 1
		overflow: ellipsis

	.query
		color: colors.info
		border-bottom: 1px solid colors.infoLight

	.Icon
		size: 1.2em
		transition: color 100ms linear

		&:last-child
			margin-right: 4px

		&.staff
			font-size: 1.2em
		&.subscriber
			font-size: 1em

	.checked
		color: colors.dark

		.eligible:after
			size: 10px
			background-color: colors.success
			border-color: colors.success
