// twitch style resets
{namespace}
	h1, h2, h3, h4, h5, h6,
	input, select, textarea,
	.messages,
	.description
		all: unset

	ul
		width: auto
		border: 0

	li
		border: 0

.tgatip
	left: auto
	right: auto
	bottom: auto