{namespace} .section.changelog
	padding: 0 spacing

	.version
		display: flex
		align-items: baseline
		margin: -(spacing) 0
		padding: spacing 0
		cursor: pointer

		.chevron
			align-self: center
			color: colors.light

		&:hover .chevron
			color: colors.dark

	.description
		display: block
		margin-top: spacing